@page "/clients/passes/{id}"

@using DataLibrary
@using DataLibrary.Models

@inject IClientsData _dbC
@inject IClientsPassesData _dbCP

<hr />
<h3>@client.Name's Passes</h3>

@if (clientsPasses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pass Id</th>
                <th>Buy date</th>
                <th>Bar code</th>
                <th>Entries count</th>
                <th>Buy price</th>
                <th>First usage date</th>
                <th>Hall Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clientsPass in clientsPasses)
            {
            <tr>
                <td>@clientsPass.PassId</td>
                <td>@clientsPass.BuyDate</td>
                <td>@clientsPass.BarCode</td>
                <td>@clientsPass.EntriesCount</td>
                <td>@clientsPass.BuyPrice</td>
                <td>@clientsPass.FirstUsageDate</td>
                <td>@clientsPass.HallId</td>
                <td><button class="btn btn-outline-danger" @onclick="() => DeleteClientsPass(clientsPass)" style="margin: 10px;">Delete</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private ClientModel client;
    private List<ClientsPassesModel> clientsPasses;

    protected override void OnInitialized()
    {
        client = _dbC.GetClient(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        clientsPasses = await _dbCP.GetClientsPass(client);
    }

    private async Task DeleteClientsPass(ClientsPassesModel clientsPass)
    {
        await _dbCP.DeleteClientsPass(clientsPass);

        await OnInitializedAsync();
    }

}
