@page "/clients"

@using DataLibrary
@using DataLibrary.Models
@using dotNet_project.Models
@using Microsoft.AspNetCore.Components

@inject IClientsData _db
@inject NavigationManager NavigationManager


<h1>Clients</h1>

<hr />
<h4>Insert New Client</h4>
<hr />
<div class="card" style="width: 30rem; margin: 0 auto; float: none; margin-bottom: 10px;">
    <div class="card-body">
        <EditForm Model="@newClient" OnValidSubmit="@InsertClient" style="width:400px; margin:15px;">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h6><b>Client Name</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="Name" id="name" @bind-Value="newClient.Name" Label="Name" />
                        </td>
                        <td>
                            <h6><b>Phone number</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="Phone Number" id="phonenumber" @bind-Value="newClient.PhoneNumber" Label="Phone Number" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6><b>Email address</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="Email Address" id="emailaddress" @bind-Value="newClient.EmailAddress" Label="EmailAddress" />
                        </td>
                        <td>
                            <h6><b>CNP</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="CNP" id="cnp" @bind-Value="newClient.CNP" Label="CNP" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6><b>Address</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="Address" id="address" @bind-Value="newClient.Address" Label="Address" />
                        </td>
                        <td>
                            <h6><b>Notes</b></h6>
                            <InputText class="form-control" style="margin: 10px;" placeholder="Notes" id="notes" @bind-Value="newClient.Notes" Label="Notes" />
                        </td>
                    </tr>

                </tbody>
            </table>

            <button type="submit" class="btn btn-success" style="margin: 10px;">Add</button>
        </EditForm>
    </div>
</div>

@if (clientAddSucces)
{
    <div class="alert alert-success" role="alert">
        @clientAddMessage
    </div>
}

@if (clientDeleteSucces)
{
    <div class="alert alert-success" role="alert">
        @clientDeleteMessage
    </div>
}

<hr />

<h4>Current Clients</h4>
@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>EmailAddress</th>
                <th>CNP</th>
                <th>Address</th>
                <th>Notes</th>
                <th>See Passes</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.Name</td>
                    <td>@client.PhoneNumber</td>
                    <td>@client.EmailAddress</td>
                    <td>@client.CNP</td>
                    <td>@client.Address</td>
                    <td>@client.Notes</td>
                    <td><button class="btn btn-outline-primary" @onclick="() => MoveToClientsPassesPage(client)" style="margin: 10px;">See Passes</button></td>
                    <td><button class="btn btn-outline-warning" @onclick="() => MoveToModifyPage(client)" style="margin: 10px;">Modify</button></td>
                    <td><button class="btn btn-outline-danger" @onclick="() => DeleteClient(client)" style="margin: 10px;">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<ClientModel> clients;
    private DisplayClientModel newClient = new DisplayClientModel();

    bool clientAddSucces = false;
    bool clientDeleteSucces = false;

    string clientAddMessage = "Client added succesfully!";
    string clientDeleteMessage = "Client deleted succesfully!";


    protected override async Task OnInitializedAsync()
    {
        clients = await _db.GetClients();
    }

    private async Task InsertClient()
    {
        Random rd = new Random();
        int bar_code = rd.Next(1000, 9999);

        ClientModel c = new ClientModel
        {
            Name = newClient.Name,
            PhoneNumber = newClient.PhoneNumber,
            EmailAddress = newClient.EmailAddress,
            is_deleted = false,
            CNP = newClient.CNP,
            CreatedDate = DateTime.UtcNow.ToString("yyyy-MM-dd"),
            Address = newClient.Address,
            BarCode = bar_code.ToString(),
            Notes = newClient.Notes,
        };
        await _db.InsertClient(c);

        await OnInitializedAsync();

        newClient = new DisplayClientModel();

        clientAddSucces = true;
    }

    private async Task DeleteClient(ClientModel client)
    {
        await _db.DeleteClient(client);

        await OnInitializedAsync();

        clientDeleteSucces = true;
    }

    void MoveToModifyPage(ClientModel client)
    {
        NavigationManager.NavigateTo("/clients/" + client.ClientId);
    }

    void MoveToClientsPassesPage(ClientModel client)
    {
        NavigationManager.NavigateTo("/clients/passes/" + client.ClientId);
    }
}
